<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- <div class="login">Testing</div> -->
      <div style="display: flex;justify-content: space-between;">
        <div>
            Accounts 
        </div>
       
        <div style="display: flex;">
          <div style=" margin: -4px 13px;">
            <i class="fa fa-refresh" aria-hidden="true" (click)="refresh()"></i>
          </div>
          <!-- <ion-icon name="power" style="color:#2a7cf6" routerLink="/login" (click)="logout()"></ion-icon> -->
        </div>
      </div>

    </ion-title>
  </ion-toolbar>
</ion-header>
<app-loaders></app-loaders>
<ion-content>
<div class="main-cont">
<div class="inputs">
  <div>

  <input class="inputExp" type="number" placeholder="Enter Your Expenditures" [(ngModel)]="amountEntered">
  <!-- <button class="btn btn-primary enterbtn">Enter</button>
   -->
    <button class="enter" (click)="enterExpenditure()">
      <ion-icon name="send-outline"></ion-icon>
    </button>
   </div>
  
</div>


  <div class="card">

 <div class="innerCard">
Earnings: <span style="color: rgb(17 210 98);font-weight: 400;font-family: sans-serif;font-weight: 600;"> {{earned}}</span>
 </div>
  <div class="innerCard">
  Expenditures: <span style="color: rgb(255 50 58);font-weight: 400;font-family: sans-serif;font-weight: 600;"> {{spent}}</span>
     </div>
  </div>

  <div class="graph">
    <canvas id="mypie" class="pie" width="800" height="450"></canvas>
  </div>
</div>
</ion-content>
<!-- <ion-tab-bar slot="bottom">
  <ion-tab-button tab="home">
    <ion-icon name="play-circle" (click)=" route('dashboard')"></ion-icon>
    Dashboard
  </ion-tab-button>
  <ion-tab-button tab="radio">
    <ion-icon name="radio" (click)=" route('reports')"></ion-icon>
    Reports
  </ion-tab-button>
  <ion-tab-button tab="library">
    <ion-icon name="library"></ion-icon>
    Accounts
  </ion-tab-button>
  <ion-tab-button tab="search">
    <ion-icon name="search" ></ion-icon>
    Search
  </ion-tab-button>
</ion-tab-bar> -->

<ion-tab-bar style="background: #e2e2e2;" slot="bottom">
  <div style="    display: flex;
  justify-content: space-between;
  width: 80%;">
  <!-- <ion-tab-button tab="home">
    <ion-icon name="play-circle"></ion-icon>
    Dashboard
  </ion-tab-button> -->
  <div style="display: flex;
  flex-direction: column;">
    <i style="font-size: 27px;position: relative;
    top: 3px;" class="fa fa-home" aria-hidden="true" (click)=" route('dashboard')"></i>
    <span>
      Dashboard

    </span>
  </div>

  <div  style="display: flex;
  flex-direction: column;padding-top: 6px;">
    <i style="font-size: 21px;" class="fa fa-database" aria-hidden="true" (click)=" route('reports')"></i>
    Reports
  </div>
  <div  [ngClass]="{'activeTab': PageIn==true, 'inactiveTab': PageIn==false}" style="display: flex;
  flex-direction: column; padding-top: 6px;">
    <i style="font-size: 21px;" class="fa fa-usd" aria-hidden="true"></i>
    Accounts
  </div>

  </div>


</ion-tab-bar>