<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- <div class="login">Testing</div> -->
      <div style="display: flex;justify-content: space-between;">
        <div>
            Accounts 
        </div>
        <div>
          <ion-icon name="power" style="color:#2a7cf6" routerLink="/login"></ion-icon>
        </div>
      </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="main-cont">
  <div class="card">
<div>
 <div class="innerCard">
data
 </div>
</div>
<div class="vl">
  
</div>
<div>
  <div class="innerCard">
    data
     </div>
</div>
  </div>
</div>
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home">
    <ion-icon name="play-circle" (click)=" route('dashboard')"></ion-icon>
    Dashboard
  </ion-tab-button>
  <ion-tab-button tab="radio">
    <ion-icon name="radio" (click)=" route('reports')"></ion-icon>
    Reports
  </ion-tab-button>
  <ion-tab-button tab="library">
    <ion-icon name="library"></ion-icon>
    Accounts
  </ion-tab-button>
  <ion-tab-button tab="search">
    <ion-icon name="search" ></ion-icon>
    Search
  </ion-tab-button>
</ion-tab-bar>
