table, th, td {
    padding: 11px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  } 
   
  tr:nth-child(even) {background-color: #f2f2f2;}

  th {
    background-color: #04AA6D;
    color: white;
    position: sticky;
    top:0;
  }
  .tableCard{
    margin: 5px 5px;
    overflow-x: hidden;

  }
  table{
    width:100%;
  }
  .scroll{
  
    display: flex !important;
    flex-direction: column !important;
    /* overflow-y: scroll !important; */
    /* height: calc(100vh - 130px) !important; */
    height: 90%;
    border: 2px solid #d2c8c8;

  }
  .datepickerDate{
    width: 348px;
    height: 51px;
    background-color: #f3ebeb;
    border: 1px solid #ccc;
    margin: 6px 8px;
  }
  .btn-clear{
    background-color: #2a7cf6;
    color: #fff;
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 2px;
  }
  ::placeholder.btn-clear{
    text-transform: capitalize;
  }
  ::ng-deep .form-control{
    width: 70%;
  }
  .topdivfordate{
    display: flex;
    justify-content: space-around;
    margin: 9px 12px;
    /* margin-bottom: 10px; */
    padding-top: 7px;
    align-items: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 500;
  }
  .topdiv{
    background: #ebebeb;
    margin: 5px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 500;
  }